* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url(../img/ilus1.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.}

.tabltemp .fil
th { 
	font-size: 13px;     
	font-weight: normal;     
	padding: 8px;     
	background: #b9c9fe;
    border-top: 33px 
    solid #aabcfe;    
    border-bottom: 1px 
    solid #fff; 
    color: #039; 
    width: 320px;
    height: 420px;

}

td {  
	padding: 8px;    
	background: #e8edff;     
	border-bottom: 
	1px solid #fff;
    color: #669;    
    border-top: 45px 
    solid transparent; }

.tabltemp .fil .ids
{



	
}